.App {
  text-align: center;
}

.App-logo {
  max-width: 100%;
  border-radius: 11px;
}



.App-header {
  background-color: #D5E1EF;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Card {
  background-color: white;
  border-radius: 20px;
  padding: 14px;
  max-width: 280px;
  text-align: center;
  box-shadow: 10px 15px 25px #C6D2E0;
}

h1 {
  font-size: 1.2rem;
  color: black;
}

p {
  color: #949da8;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}


.wrapper-text {
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}



